#contenedor {
  /* Rejilla de paginación */
  display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "cajaimpar cajaimagen"
    "cajaimagen cajapar"
    "cajaimpar cajaimagen"
    "cajaimagen cajapar"
    "cajaimpar cajaimagen"
    "cajaimagen cajadatos"
    "cajapar cajaimagen"
    "cajaimagen cajaimpar";
 
  /* Formateo */
  width: 100%;
 
}
img{
  width: 100%;
  height: auto;;
}
body{
  background-color: #EDECED;
}
.bg-footer{
  background-color: #EDECED;
}
.bg-header{
  background-color: #A6AAAD;
}
.bg-copyright{
  background-color: #A6AAAD;
}
.cajaimpar {   
    grid-area: cajaimpar;   
    background-color: #EDECED;
    color: #020202;
}   
.cajapar {   
  grid-area: cajapar;   
  background-color:#f0e9db;
  color: #020202;
}   

.cajadatos {   
  grid-area: cajadatos;   
  background-color:#4d4d4d;
  color: #ffffff;
}   

.cajatexto {   
    grid-area: cajatexto;   
    background-color: white;
    font-size: 20px;
    font-family:sans-serif;
    color: black;
    text-align: center;
}
.cajaimagen{
  grid-area: cajaimagen;
  background-color: #EDECED;

}
.imglogo{
  width: 80px;
  height: 40px ;
}

/* PARA TABLETS */

@media only screen and (min-width: 768px) {   
    #contenedor {   
      display: grid;
      grid-template-rows: 1fr ;
      grid-template-columns: 1fr;
      grid-template-areas:
      "cajaimpar cajaimagen"
    "cajaimagen cajapar"
    "cajaimpar cajaimagen"
    "cajaimagen cajapar"
    "cajaimpar cajaimagen"
    "cajaimagen cajadatos"
    "cajapar cajaimagen"
    "cajaimagen cajaimpar";
 
     
      /* Formateo */
      width: 100%;
      
    }   
}

/* PARA PANTALLAS GRANDES */

@media only screen and (min-width: 1024px)  {   
  #contenedor {   
      display: grid;
      grid-template-rows: 1fr ;
      grid-template-columns: 1fr;
      grid-template-areas:
      "cajaimpar cajaimagen"
      "cajaimagen cajapar"
      "cajaimpar cajaimagen"
      "cajaimagen cajapar"
      "cajaimpar cajaimagen"
      "cajaimagen cajadatos"
      "cajapar cajaimagen"
      "cajaimagen cajaimpar";
   
     
      /* Formateo */
      width: 100%;
     
    }   
} 
