body{
  background-color: #EDECED;
}

.contenedor {
  /* Rejilla de paginación */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
  "cajapar"
  " cajaimagen"
    "cajaimagen"
    "cajaimpar"
    "cajapar"
    " cajaimagen"
    "cajaimagen"
    " cajaimpar"
    "cajapar"
    " cajaimagen"
    "cajaimagen"
    " cajadatos";
 
  /* Formateo */
  width: 100%;
 
}
img{
  width: 100%;
  height: auto;;
}
.bg-footer{
  background-color: #EDECED;
}
.bg-header{
  background-color: #A6AAAD;
}
.bg-copyright{
  background-color: #A6AAAD;
}
.cajaimpar {   
    grid-area: cajaimpar;   
    background-color: #EDECED;
    color: #020202;
}   
.cajapar {   
  grid-area: cajapar;   
  background-color:#f0e9db;
  color: #020202;
}   

.cajadatos {   
  grid-area: cajadatos;   
  background-color:#4d4d4d;
  color: #ffffff;
}   

.cajaimagen{
  grid-area: cajaimagen;
  background-color: #EDECED;
  width: 150px;
  height: 150px ;
}

.imglogo{
  width: 80px;
  height: 40px ;
}

/* PARA TABLETS */

@media only screen and (min-width: 768px) {   
    .contenedor {   
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas:
      "cajapar cajaimagen"
    "cajaimagen cajaimpar"
    "cajapar cajaimagen"
    "cajaimagen cajaimpar"
    "cajapar cajaimagen"
    "cajaimagen cajadatos";
 
     
      /* Formateo */
      width: 100%;
      
    }   
}

/* PARA PANTALLAS GRANDES */

@media only screen and (min-width: 1024px)  {   
  .contenedor {   
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas:
      "cajapar cajaimagen"
    "cajaimagen cajaimpar"
    "cajapar cajaimagen"
    "cajaimagen cajaimpar"
    "cajapar cajaimagen"
    "cajaimagen cajadatos";
     
      /* Formateo */
      width: 100%;
     
    }   
} 
