body {
  background-color: #EDECED;
  font-family: sans-serif;
}

.contenedor {
  /* Rejilla de paginación */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-areas:
    "imginicio"
    "txt1"
    "cajaimg"
    "txt2"
    "cajaimg2"
    "txt3"
    "cajaimg3"
    "txt4"
    "cajaimg4"
    "txtdatos";

  /* Formateo */
  width: 100%;

}

table {
  border-collapse: collapse;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 22%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
}

table,
th,
td {
  border: none;
}

img {
  width: 100%;
  height: auto;
}

.imginicio {
  background-color: #EDECED;
}

.bg-footer {
  background-color: #EDECED;
}

.bg-header {
  background-color: #A6AAAD;
}

.bg-copyright {
  background-color: #A6AAAD;
}

.txt1 {
  grid-area: txt1;
  background-color: #EDECED !important;
  color: #020202 !important;
  text-align: center;
}

.txt2 {
  grid-area: txt2;
  background-color: #FFC107 !important;
  color: #020202 !important;
  text-align: center;
}

.txt3 {
  grid-area: txt3;
  background-color: #EDECED !important;
  color: #020202 !important;
  text-align: center;
}

.txt4 {
  grid-area: txt4;
  background-color: #FFC107 !important;
  color: #020202 !important;
  text-align: center;
}

.txtdatos {
  grid-area: txtdatos;
  background-color: #4d4d4d !important;
  color: #ffffff !important;
  width: auto;
  height: auto;
  text-align: center;
}

.cajaimg {
  grid-area: cajaimg;
  background-color: #EDECED !important;
}

.cajaimg2 {
  grid-area: cajaimg2;
  background-color: #FFC107 !important;
  align-items: center;
}

.cajaimg3 {
  grid-area: cajaimg3;
  background-color: #EDECED !important;
}

.cajaimg4 {
  grid-area: cajaimg4;
  background-color: #FFC107 !important;
}

.imglogo {
  width: 80px;
  height: 40px;
}

.iconos {
  width: 80px;
  height: 80px;
}

.contenedorskill {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  /* Espacio entre las imágenes */
}

.iconos {
  width: 100%;
  height: auto;
}


.progress1 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar1 {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar1 {
  width: 70%;
  background-color: #FB8028;
  animation: progressAnimation 4s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #e48e50;
  }

  100% {
    width: 70%;
    background-color: #FB8028;
  }
}

.progress2 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2 {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
  width: 70%;
  background-color: #264DE4;
  animation: progressAnimation 4s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #536fe0;
  }

  100% {
    width: 70%;
    background-color: #264DE4;
  }
}


.progress3 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar3 {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar3 {
  width: 75%;
  background-color: #E9CA32;
  animation: progressAnimation 4s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #e9cf4d;
  }

  100% {
    width: 75%;
    background-color: #E9CA32;
  }
}

.progress4 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar4 {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar4 {
  width: 75%;
  background-color: #8892BF;
  animation: progressAnimation 4s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #959ec5;
  }

  100% {
    width: 75%;
    background-color: #8892BF;
  }
}


.progress5 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar5 {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar5 {
  width: 70%;
  background-color: #5382A1;
  animation: progressAnimation 4s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #6ca3c7;
  }

  100% {
    width: 70%;
    background-color: #5382A1;
  }
}

/* PARA TABLETS */

/* Estilos para tabletas */
@media only screen and (min-width: 768px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
      "imginicio imginicio"
      "txt1 cajaimg"
      "cajaimg2 txt2"
      "txt3 cajaimg3"
      " cajaimg4 txt4"
      "txtdatos txtdatos";
    width: 100%;
  }

  .cajaimg {
    grid-area: cajaimg;
    background-color: #EDECED !important;

    justify-content: right;
  }

  .cajaimg2 {
    grid-area: cajaimg2;
    background-color: #FFC107 !important;
    align-items: center;
  }

  .cajaimg3 {
    grid-area: cajaimg3;
    background-color: #EDECED !important;
    align-items: right;
  }

  .cajaimg4 {
    grid-area: cajaimg4;
    background-color: #FFC107 !important;
    justify-content: left;
  }

  .txt1 {
    grid-area: txt1;
    background-color: #EDECED !important;
    color: #020202 !important;
    justify-content: left;
  }

  .txt2 {
    grid-area: txt2;
    background-color: #FFC107 !important;
    color: #020202 !important;
    justify-content: right;
  }

  .txt3 {
    grid-area: txt3;
    background-color: #EDECED !important;
    color: #020202 !important;
    justify-content: left;
  }

  .txt4 {
    grid-area: txt4;
    background-color: #FFC107 !important;
    color: #020202 !important;
    justify-content: right;
  }

  .txtdatos {
    grid-area: txtdatos;
    background-color: #4d4d4d !important;
    color: #ffffff !important;
    width: auto;
    height: auto;
    justify-content: right;
  }
 
.contenedorskill {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  /* Espacio entre las imágenes */
}

.iconos {
  width: 100%;
  height: auto;
}

.progress1 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar1 {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar1 {
  width: 70%;
  background-color: #FB8028;
  animation: progressAnimation 4s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #e48e50;
  }

  100% {
    width: 70%;
    background-color: #FB8028;
  }
}

.progress2 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2 {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
  width: 70%;
  background-color: #264DE4;
  animation: progressAnimation 4s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #536fe0;
  }

  100% {
    width: 70%;
    background-color: #264DE4;
  }
}


.progress3 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar3 {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar3 {
  width: 75%;
  background-color: #E9CA32;
  animation: progressAnimation 4s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #e9cf4d;
  }

  100% {
    width: 75%;
    background-color: #E9CA32;
  }
}

.progress4 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar4 {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar4 {
  width: 75%;
  background-color: #8892BF;
  animation: progressAnimation 4s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #959ec5;
  }

  100% {
    width: 75%;
    background-color: #8892BF;
  }
}

.progress5 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar5 {
  height: 18px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar5 {
  width: 70%;
  background-color: #5382A1;
  animation: progressAnimation 4s;
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #6ca3c7;
  }

  100% {
    width: 70%;
    background-color: #5382A1;
  }
}
}

/* PARA PANTALLAS GRANDES */

@media only screen and (min-width: 1024px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
    grid-template-areas:
      "imginicio imginicio"
      "txt1 cajaimg"
      "cajaimg2 txt2"
      "txt3 cajaimg3"
      " cajaimg4 txt4"
      "txtdatos txtdatos";
    width: 100%;
  }

  .cajaimg {
    grid-area: cajaimg;
    background-color: #EDECED !important;
    justify-content: right;
  }

  .cajaimg2 {
    grid-area: cajaimg2;
    background-color: #FFC107 !important;
    justify-content: center;
  }

  .cajaimg3 {
    grid-area: cajaimg3;
    background-color: #EDECED !important;
    align-items: right;
  }

  .cajaimg4 {
    grid-area: cajaimg4;
    background-color: #FFC107 !important;
    justify-content: left;
  }

  .txt1 {
    grid-area: txt1;
    background-color: #EDECED !important;
    color: #020202 !important;
    justify-content: left;
  }

  .txt2 {
    grid-area: txt2;
    background-color: #FFC107 !important;
    color: #020202 !important;
    justify-content: right;
  }

  .txt3 {
    grid-area: txt3;
    background-color: #EDECED !important;
    color: #020202 !important;
    justify-content: left;
  }

  .txt4 {
    grid-area: txt4;
    background-color: #FFC107 !important;
    color: #020202 !important;
    justify-content: right;
  }

  .txtdatos {
    grid-area: txtdatos;
    background-color: #4d4d4d !important;
    color: #ffffff !important;
    width: auto;
    height: auto;
    justify-content: right;
  }

}